html,
body {
  margin: 10;
  padding: 0;
  font-family:Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
}

.font {
  text-decoration: none;
  font-size: 30px;
  margin-left: 15px;
  color: #01b0fe;
  margin-bottom: 25px;
}

.url {
  color: #01b0fe;
}
.post {
  margin-left: 150px;
  padding: 0.75em 1.4em;
  border-radius: 5px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #99ce45;
  border: 0.125em solid #99ce45;
  color: #fff;
  transition: background 0.4s, color 0.4s, border-color 0.4s;
}

.comment-text {
  font-size: 30px;
}

.post:hover {
  background: transparent;
  color: #99ce45;
}

#comments {
  margin-left: 550px;
}

.comments-title {
  margin-top: 90px;
  margin-left: 570px;
  color: #01b0fe;
  font-size: 30px;
}

#landing > .header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 2.5em;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.9em 1.25em;
  line-height: 2em;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  word-spacing: 2.5em;
}

.header .login {
  font-size: 15px;
  color: #03b4fe;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  border: 0 solid transparent;
}

.header .login:hover {
  border: 0.166em solid #03b4fe;
  border-radius: 2em;
  padding: 0 1em;
}

#landing > .header > * {
  display: inline-block;
  word-spacing: normal;
}
#landing > .header > .logo {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: #01b0fe;
  text-decoration: none;
}
#landing > .header > .button {
  font-size: 0.75em;
  border-width: 0.18em;
}

textarea {
  width: 30%;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



@media only screen and (max-width: 1200px) {
  #comments {
    margin-left: 10px;
  }
  .comments-title {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 50px;
  }
  .post {
    margin-left: 95px;
    font-size: 10px;
  }
  textarea {
    width: 50%;
  }
  
  .font {
    font-size: 15px;
  }

  .comment-text {
    font-size: 15px;
  }

  .header .login {
    font-size: 10px;
  }

  #landing > .header > .logo {
    font-size: 10px;
  }

  #landing > .header {
    height: 1.5em;
  }
}
