html, body {margin:10; padding:0;}

.font {
  text-decoration: none;
  font-size: 15px;
  margin-left: 5px;
}
.post {
  margin-left: 150px;
}

#comments {
	 margin-left: 550px;
}

.comments-title {
	margin-top: 90px;
	margin-left: 480px;
	color: #01B0FE;
}

#landing > .header {
  position:fixed;
  left:0;
  right:0;
  top:0;
  height:4.0625em;
  z-index:100;
  background:rgba(255,255,255,.9);
  padding:.9em 1.25em;
  line-height:2em;
  text-align:right;
  border-bottom:1px solid rgba(0,0,0,.1);
  word-spacing:2.5em;
}

#landing > .header > * {display:inline-block; word-spacing:normal;}
#landing > .header > .logo {
   font-size: 20px;
  font-weight: bold;
  color: #01B0FE;
  text-decoration: none;

}
#landing > .header > .button {font-size:.75em; border-width:.18em;}
#landing > .menu {
  text-align:center;
  background:#01b0fe;
  font-size:1.125em;
  padding:1.278em 0;
}

 .copyright {font-size:.875em; border-top:2px solid #eee; margin:2em 6.8em 0; padding:2em 0; color:#8e9ea9; word-spacing:1.5em;}
 .copyright:after {content:""; display:block; height:0; overflow:hidden; float:none; clear:both;}
 .copyright  * {word-spacing:normal;}
 .copyright a {color:#01affe; text-decoration:none;}
 .copyright a:hover {color:#3e4e5c;}
 .copyright .social {float:right; word-spacing:1.5em;}
 .copyright .social * {word-spacing:normal;}
 .copyright .social .ico:before {font-family:"ico"; font-size:1.8em;}

#landing > .copyright > .social > .fa:before {
  display: inline-block;
  font: normal normal normal 1.8em FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#landing > .footer {
  display:table;
  width:100%;
  padding:0 6em;
}

i {
	color: #01B0FE;
}

