html, body {margin:10; padding:0;}

.view {
  display:inline-block;
  padding:.75em 1.4em;
  border-radius:2em;
  font-weight:bold;
  line-height:normal;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  background-color:#99ce45;
  border:.125em solid #99ce45;
  color:#fff;
  transition:background .4s, color .4s, border-color .4s;
}

.view:hover {
  background:transparent; color:#99ce45;
}

.font {
  text-decoration: none;
  font-size: 15px;
  margin-left: 5px;
  color: #01B0FE;
}

.url {
  color: #01B0FE;
}
.post {
  margin-left: 150px;
  padding:.75em 1.4em;
  border-radius: 5px;
  font-weight:bold;
  line-height:normal;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  background-color:#99ce45;
  border:.125em solid #99ce45;
  color:#fff;
  transition:background .4s, color .4s, border-color .4s;
}

.post:hover {background:transparent; color:#99ce45;}

#comments {
	 margin-left: 550px;
}

.comments-title {
	margin-top: 90px;
	margin-left: 600px;
	color: #01B0FE;
  font-size: 20px;
}

#landing > .header {
  position:fixed;
  left:0;
  right:0;
  top:0;
  height:4.0625em;
  z-index:100;
  background:rgba(255,255,255,.9);
  padding:.9em 1.25em;
  line-height:2em;
  text-align:right;
  border-bottom:1px solid rgba(0,0,0,.1);
  word-spacing:2.5em;
}

#landing > .header > * {display:inline-block; word-spacing:normal;}
#landing > .header > .logo {
  float: left;
   font-size: 20px;
  font-weight: bold;
  color: #01B0FE;
  text-decoration: none;

}
#landing > .header > .button {font-size:.75em; border-width:.18em;}
#landing > .menu {
  text-align:center;
  background:#01b0fe;
  font-size:1.125em;
  padding:1.278em 0;
}

 .copyright {font-size:.875em; border-top:2px solid #eee; margin:2em 6.8em 0; padding:2em 0; color:#8e9ea9; word-spacing:1.5em;}
 .copyright:after {content:""; display:block; height:0; overflow:hidden; float:none; clear:both;}
 .copyright  * {word-spacing:normal;}
 .copyright a {color:#01affe; text-decoration:none;}
 .copyright a:hover {color:#3e4e5c;}
 .copyright .social {float:right; word-spacing:1.5em;}
 .copyright .social * {word-spacing:normal;}
 .copyright .social .ico:before {font-family:"ico"; font-size:1.8em;}

#landing > .copyright > .social > .fa:before {
  display: inline-block;
  font: normal normal normal 1.8em FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#landing > .footer {
  display:table;
  width:100%;
  padding:0 6em;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #99CE45; 
}

textarea {
  width: 30%;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

li {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  #comments {
    margin-left: 10px;
  }
.comments-title {
  margin-left: 10px;
}
.post {
  margin-left: 95px;
  font-size: 10px;
}
textarea {
  width: 50%
}
}