html, body {margin:0; padding:0;}

#landing, #landing *, #landing :before, #landing :after {
  position:relative;
  margin:0;
  padding:0;
  box-sizing:border-box;
  vertical-align:middle;
  text-overflow:ellipsis;
  font-family:Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
}
#landing {
  width:1500px;
  font-size:16px;
  padding-top:4.0625em;
  background:#fff;
  text-align:center;
}

#landing {font-size:1.061vw; width:auto;}

#landing > * {text-align:left;}
#landing .button {
  display:inline-block;
  padding:.75em 1.4em;
  border-radius:2em;
  font-weight:bold;
  line-height:normal;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  background-color:#99ce45;
  border:.125em solid #99ce45;
  color:#fff;
  transition:background .4s, color .4s, border-color .4s;
}
#landing .button:hover {background:transparent; color:#99ce45;}
#landing .button:active {opacity:.5;}
#landing .button-blue {background:#01b0fe; border-color:#01b0fe;}
#landing .button-blue:hover {background:transparent; color:#01b0fe;}
#landing .button-orange {background:#fe8f4f; border-color:#fe8f4f;}
#landing .button-orange:hover {background:transparent; color:#fe8f4f;}

#landing > .header {
  position:fixed;
  left:0;
  right:0;
  top:0;
  height:4.0625em;
  z-index:100;
  background:rgba(255,255,255,.9);
  padding:.9em 1.25em;
  line-height:2em;
  text-align:right;
  border-bottom:1px solid rgba(0,0,0,.1);
  word-spacing:2.5em;
}

#landing > .header > * {display:inline-block; word-spacing:normal;}
#landing > .header > .logo {
  float: left;
   font-size: 20px;
  font-weight: bold;
  color: #01B0FE;
  text-decoration: none;

}
#landing > .header > .button {font-size:.75em; border-width:.18em;}
#landing > .menu {
  text-align:center;
  background:#01b0fe;
  font-size:1.125em;
  padding:1.278em 0;
}

#landing > .header > .login {
  font-size:.875em;
  color:#03b4fe;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
  transition:all .2s;
  border:0 solid transparent;
}
#landing > .header > .login:before {
  content:"";
  display:inline-block;
  width:1.429em;
  height:1.429em;
  margin:-.2em .5em 0 0;
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAUVBMVEUAAAABsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4BsP4pJ89bAAAAGnRSTlMA3etU5rMKqwaJW0hPRNAR88qUaybCgWI/MCVqoPAAAAC5SURBVBjTTZBXssMwDAOpZsmOS9or2fsfNBgqynh/RGKIIURzWqqBa6ip2ZcUgJyBkIY2Q1kns2ktMA8tXuzDJXY1EZ96Xr/zv55nJGlHZlOzIh4qNnKzhWIiIIKJwmKV1URGRHNP1cikaooueikD2cSBc3STXeURBVG8jLjdl4rNPvZKT77D3vNTRyS7wc1GpJY1Ov3tnvNxaDA3/2bhy08k9YOcGWe6c+J+PrLjRx60pQYpdWnevgG0mRAe7+n/PQAAAABJRU5ErkJggg==") no-repeat center center;
  background-size:contain;
}
#landing > .header > .login:hover {
  border:.166em solid #03b4fe;
  border-radius:2em;
  padding:0 1em;
}
.input {
	color: #99CE45;
}
#card h4 {
  color: #01B0FE;
}

.heading {
  color: #01B0FE;
  margin-top: 20px;
  margin-left: 600px;
  font-size: 30px;
}


#landing > #courses-list > .row {
    margin-bottom:20px;
}
.add-to-cart {
    margin:10px 0;
    text-decoration: none;
    color: #01B0FE;
}
.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
    float: left;
    width: 25%;
    margin-left: 100px;
    margin-bottom: 20px;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

#courses-list .row {
  margin-bottom: 20px;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}

.post {
  border-radius: 5px;
}
.info-card p,
.card h4 {
    margin-bottom: 5px;
    color: #01B0FE
}
.info-card .price {
    font-size: 15px;
    margin-top: 10px;

}
.info-card .price span {
    font-size: 10px;
    float: right;
}

img {
  width: 100%; 
}

.font {
  float: right;
  color: #01B0FE;
}
.close-form {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-form:hover,
.close-form:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.copyright {font-size:.875em; border-top:2px solid #eee; margin:2em 6.8em 0; padding:2em 0; color:#8e9ea9; word-spacing:1.5em;}
 .copyright:after {content:""; display:block; height:0; overflow:hidden; float:none; clear:both;}
 .copyright  * {word-spacing:normal;}
 .copyright a {color:#01affe; text-decoration:none;}
 .copyright a:hover {color:#3e4e5c;}
 .copyright .social {float:right; word-spacing:1.5em;}
 .copyright .social * {word-spacing:normal;}
 .copyright .social .ico:before {font-family:"ico"; font-size:1.8em;}

#landing > .copyright > .social > .fa:before {
  display: inline-block;
  font: normal normal normal 1.8em FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#landing > .footer {
  display:table;
  width:100%;
  padding:0 6em;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

textarea {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  float: right;
  display:inline-block;
  padding:.75em 1.4em;
  /*border-radius:2em;*/
  font-weight:bold;
  line-height:normal;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  background-color:#99ce45;
  border:.125em solid #99ce45;
  color:#fff;
  transition:background .4s, color .4s, border-color .4s;
}

button:hover {background:transparent; color:#99ce45;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* The Close Button */
.close {
    color: #01B0FE;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    color: #99CE45;
}

.close2 {
    color: #99CE45;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    color: #01B0FE;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    color: #01B0FE; 
}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-header2 {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body2 {
    padding: 2px 16px;
    color: #01B0FE;
    height: 40px; 
}
.modal-footer2 {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.but {
 float: left;
 margin-left: 400px;
}
.modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
@media only screen and (max-width: 1200px) {
  .card {
    width: 90%;
    margin-left: 17px;
  }

  .add-to-cart {
    float: left;
  }

  .heading {
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  #landing > .header > .logo {
    font-size: 10px;
  }

  #landing > .header > .login {
    font-size: 10px;
  }

  #landing > .header {
    height: 25px;
  }

  .p {
    float: left;
  }

  .but {
    margin-left: 0;
  }
}

a {
	text-decoration: none;
}
